main {
  height: calc(100% - 60px);
}

.search-form {
  max-width: 400px;
}

.add-form {
  max-width: 500px;
}

.alert {
  margin-bottom: 0px !important;
}

.badge {
  cursor: pointer;
}

.poster {
  width: 300px;
}
