<main>
  <section class="py-5 text-center middle">
    <div clas="col-lg-5 col-md-8 mx-auto">
      <h1 class="fw-light text-warning font-weight-bold">{{ "auth.SIGN_UP" | translate }}</h1>
    </div>
  </section>
  <section class="py-5 d-flex justify-content-center">
    <form
      (ngSubmit)="signUp(form)"
      #form="ngForm"
      [mustMatch]="['password', 'repeatPassword']"
    >
      <ng-container *ngIf="form.submitted && form.invalid">
        <div
          class="alert alert-danger mt-3 mb-2"
          role="alert"
          *ngIf="form.controls.email?.errors?.required"
        >
          {{ "auth.EMAIL" | translate }}&nbsp;{{ "errors.IS_MANDATORY" | translate }}
        </div>
        <div
          class="alert alert-danger mt-3 mb-2"
          role="alert"
          *ngIf="form.controls.email?.errors?.pattern"
        >
          {{ "errors.PROVIDE_VALID" | translate }}&nbsp;{{ "auth.EMAIL" | translate }}
        </div>
        <div
          class="alert alert-danger mt-3 mb-2"
          role="alert"
          *ngIf="form.controls.password?.errors?.required"
        >
          {{ "auth.PASSWORD" | translate }}&nbsp;{{
            "errors.IS_MANDATORY" | translate
          }}
        </div>
        <div
          class="alert alert-danger mt-3 mb-2"
          role="alert"
          *ngIf="form.controls.repeatPassword?.errors?.required"
        >
          {{ "auth.REPEAT_PASSWORD" | translate }}&nbsp;{{
            "errors.IS_MANDATORY" | translate
          }}
        </div>
        <div
          class="alert alert-danger mt-3 mb-2"
          role="alert"
          *ngIf="form.controls.repeatPassword?.errors?.mustMatch"
        >
          {{ "auth.PASSWORD" | translate }},
          {{ "auth.REPEAT_PASSWORD" | translate }}&nbsp;{{
            "errors.MUST_MATCH" | translate
          }}
        </div>
      </ng-container>
      <div class="form-floating mb-2">
        <input
          type="email"
          class="form-control"
          ngModel
          name="email"         
          id="email"
          required
          placeholder="name@example.com"
          pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|'(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*')@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
        />
        <label for="email">{{ "auth.EMAIL" | translate }}</label>
      </div>
      <div class="form-floating mb-2">
        <input
          type="password"
          ngModel
          name="password"
          #password="ngModel"
          class="form-control"
          id="password"
          placeholder="password"
          required
        />
        <label for="password">{{ "auth.PASSWORD" | translate }}</label>
      </div>
      <div class="form-floating mb-2">
        <input
          type="password"
          ngModel
          name="repeatPassword"
          #repeatPassword="ngModel"
          class="form-control"
          id="repeatPassword"
          placeholder="password"
          required
        />
        <label for="repeatPassword">{{
          "auth.REPEAT_PASSWORD" | translate
        }}</label>
      </div>
      <button class="w-100 btn btn-lg btn-outline-warning" type="submit">
        {{ "auth.SIGN_UP" | translate }}
      </button>
    </form>
  </section>
</main>
